<% conversations.each do |c| %>
  <% active = (defined?(@conversation) && @conversation&.id == c.id) %>
  <%= link_to conversation_path(c), class: "sidebar-item #{'is-active' if active}" do %>
    <div class="sidebar-item-title">
      <%= c.title.presence || "Untitled" %>
    </div>
    <div class="sidebar-item-sub">
      <%= c.updated_at.strftime("%d %b") %>
    </div>
  <% end %>
<% end %>