<%# app/views/user_messages/_assistant.html.erb %>

<% text = user_message.ai_message&.content&.dig("text").to_s %>

<div id="assistant_user_message_<%= user_message.id %>">
  <div class="message message-assistant">
    <div class="message-bubble">
      <div class="message-text">
        <%= render_markdown(text) %>
      </div>
    </div>
  </div>
</div>
