<%# app/views/user_messages/_assistant.html.erb %>

<% text = user_message.ai_message&.content&.dig("text").to_s %>
<% confirmation = text.presence || "Understood." %>

<div id="assistant_user_message_<%= user_message.id %>">
  <div class="message message-assistant message-assistant--handoff">
    <div class="message-bubble">
      <div class="message-text">
        <%= simple_format(h(confirmation)) %>
      </div>
    </div>
  </div>
</div>
