<%# app/views/chats/_sidebar_title.html.erb %>

<%# Expects: chat %>

<%= turbo_frame_tag dom_id(chat, :sidebar_title), class: "sidebar-item__title-frame" do %>
  <div class="sidebar-item-title">
    <%= link_to(
          (chat.title.presence || "Untitled"),
          edit_title_chat_path(chat),
          class: "sidebar-chat__title-link",
          data: { turbo_frame: dom_id(chat, :sidebar_title) }
        ) %>
  </div>
<% end %>
